@import "../../../../mixins";

.allDetailsContainer {
  padding: 40px;
  .top {
    @include flex(row, space-between, center);
    h2 {
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }

    button {
      padding: 9px 17px;
      border-radius: 4px;
      background: var(--blue);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: white;
    }
  }
  .description {
    border: 1px solid #d8dfe0;
    border-radius: 5px;
    padding: 20px 30px;
    color: #002f34;

    h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      padding-bottom: 20px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
    .allDetailsContainer {
        padding: 20px;
    }
}