@import "../../../mixins";
.reviewConfirmContainer {
  padding: 20px;
  margin-inline: -160px;
  background: var(--background);
  border-radius: 8px;

  .heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #383e49;
    padding-bottom: 20px;
  }

  .hostelDetails {
    color: #002f34;
    padding-top: 30px;
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 20px;
    .card {
      border: 1px solid #f0f1f3;
      border-radius: 6px;
      padding: 30px;
      width: 48%;
      height: 300px;
      .cardTitle {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        padding-bottom: 30px;
      }

      .detail {
        @include flex(row, space-between, center);
        padding-bottom: 10px;

        h5 {
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }

    .gallery {
      @include flex(row, start, center);
      gap: 20px;
      width: 48%;
      .imageContainer {
        width: 80%;
        .imageWrapper {
          width: 100%;
          height: 300px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
          }
        }
      }

      .contentContainer {
        overflow: auto;
        height: 300px;
        .imagesList {
          @include flex(column, center, center);
          gap: 20px;
          .imgWrapper {
            width: 100px;
            height: 85px;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
              border-radius: 10px;
              -webkit-transform: scale(1);
              transform: scale(1);
              -webkit-transition: 0.5s ease-in-out;
              transition: 0.5s ease-in-out;

              &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  .tableContainer {
    padding-top: 30px;

    .tableTitle {
      padding-bottom: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .reviewConfirmContainer {
    padding: 20px;
    background: var(--background);
    border-radius: 8px;
    margin-inline: 0px;

    .hostelDetails {
      padding-top: 20px;

      .card {
        padding: 20px;
        width: 100%;
        height: auto;
        .cardTitle {
          font-size: 18px;
          padding-bottom: 20px;
        }

        .detail {
          h5 {
            font-size: 14px;
            line-height: 20px;
          }

          p {
            line-height: 20px;
          }
        }
      }

      .gallery {
        @include flex(column-reverse, center, center);

        .imageContainer {
          width: 100%;
          .imageWrapper {
            width: 100%;
            height: 100%;
          }
        }

        .contentContainer {
          width: 100%;
          .topContent {
            gap: 15px;
          }

          .imagesList {
            .imgWrapper {
              width: 29%;
              height: 29%;
            }
          }
        }
      }
    }
  }
}
