@import "../../../../mixins";
.hostelNoticesContainer {
  padding: 40px;
  .top {
    @include flex(row, space-between, center);
    h2 {
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }

    button {
      padding: 9px 17px;
      border-radius: 4px;
      background: var(--blue);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: white;
    }
  }

  .cardsContainer {
    .card {
      padding: 24px;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      margin-top: 20px;

      .cardTitle {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        color: var(--blue);
      }

      .description {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #1a1a1a;
        padding: 10px 0;
      }

      .date {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        color: #1a1a1a;
      }
    }
  }
}
